TweetClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TweetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ConsoleApplication1.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITweetServiceA_SendTweet_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTweet" />
  </wsdl:message>
  <wsdl:message name="ITweetServiceA_SendTweet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTweetResponse" />
  </wsdl:message>
  <wsdl:message name="ITweetServiceB_DeleteTweet_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTweet" />
  </wsdl:message>
  <wsdl:message name="ITweetServiceB_DeleteTweet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTweetResponse" />
  </wsdl:message>
  <wsdl:portType name="ITweetServiceA">
    <wsdl:operation name="SendTweet">
      <wsdl:input wsaw:Action="Send" message="tns:ITweetServiceA_SendTweet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetServiceA/SendTweetResponse" message="tns:ITweetServiceA_SendTweet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITweetServiceB">
    <wsdl:operation name="DeleteTweet">
      <wsdl:input wsaw:Action="Delete" message="tns:ITweetServiceB_DeleteTweet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetServiceB/DeleteTweetResponse" message="tns:ITweetServiceB_DeleteTweet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegularEndpoint" type="tns:ITweetServiceA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendTweet">
      <soap:operation soapAction="Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestEndpoint" type="tns:ITweetServiceB">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteTweet">
      <soap:operation soapAction="Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TweetService">
    <wsdl:port name="RegularEndpoint" binding="tns:RegularEndpoint">
      <soap:address location="http://home-pc:8001/TweetService/a" />
    </wsdl:port>
    <wsdl:port name="TestEndpoint" binding="tns:TestEndpoint">
      <soap:address location="http://home-pc:8001/TweetService/b" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>