TweetClient/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ConsoleApplication1.Contracts" />
  <xs:element name="SendTweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsoleApplication1.Contracts" minOccurs="0" name="tweet" nillable="true" type="q1:SendTweetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTweetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsoleApplication1.Contracts" minOccurs="0" name="SendTweetResult" nillable="true" type="q2:TweetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConsoleApplication1.Contracts" minOccurs="0" name="tweet" nillable="true" type="q3:DeleteTweetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTweetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConsoleApplication1.Contracts" minOccurs="0" name="DeleteTweetResult" nillable="true" type="q4:TweetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>